<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52319756978-dv5f09f20v23mnquk8rabji3nh9qj0o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52319756978-dv5f09f20v23mnquk8rabji3nh9qj0o7</string>
	<key>API_KEY</key>
	<string>AIzaSyC_YLSIBc9M_k3cwRFknW_4Khp3vzCxfM8</string>
	<key>GCM_SENDER_ID</key>
	<string>52319756978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angga.primart</string>
	<key>PROJECT_ID</key>
	<string>primart-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>primart-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52319756978:ios:f2c0d9ff8daa09cf411fab</string>
	<key>DATABASE_URL</key>
	<string>https://primart-beta-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>